<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Login</title>

</head>

<body>
  <div class="contenedor">
    <div class="toogle">
      <span>Crear Cuenta</span>
    </div>


    <div class="formulario">
      <h2>Iniciar Sesion</h2>
      <form action="#">
        <input type="text" placeholder="Usuario" required>
        <input type="text" placeholder="contraseña" required>
        <input type="submit" value="Inciar sesion">
      </form>
    </div>

    <div class="formulario">
      <h2>Crear cuenta</h2>
      <form action="#">
        <input type="text" placeholder="Usuario" required>
        <input type="text" placeholder="contraseña" required>
        <input type="text"placeholder="correo"required>
        <input type="text"placeholder="telefono" required>
        <input type="submit" value="Crear cuenta">
      </form>
    </div>
    <div class="reset password">
      <a href="#">olvide mi contraseña</a>
    </div>
  </div>
</body>

</html>
